.App {
  background: rgb(255,255,255);
  background: linear-gradient(172deg, rgba(255,255,255,1) 50%, rgba(238,229,18,1) 50%);
  height: 800px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 280px;
  height: 500px;
  background-color: #fff;
  border-radius: 20px;
  margin: 0 40px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 10px 20px;
  overflow-y: scroll;
  position: relative;
}

.container::-webkit-scrollbar {
  width: 1px;
}
.container::-webkit-scrollbar-track, .container::-webkit-scrollbar-thumb, .container::-webkit-scrollbar-thumb:hover  {
  background: transparent;
}

.container > .bg-span {
  position: absolute;
  top: -100px;
  left: -120px;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  background-color: rgb(243, 207, 1);
}

header {
  z-index: 10;
  position: relative;
  top: 10px; 
}

header img {
  width: 30px;
  height: 15px;
  margin-bottom: 6px;
}

.header-title {
  margin: 10px 0;
  font-size: 28px;
}

header p {
  margin: 6px 0;
  font-size: 14px;
}