body {
  margin: 0;
  font-family: bodyle-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
}
body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}
body::-webkit-scrollbar-thumb {
  background: rgba(68, 68, 68, 0.548);
  border-radius: 10px;
}
body::-webkit-scrollbar-thumb:hover {
  background-color: rgba(68, 68, 68, 0.788);
  border-radius: 10px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
